table {
  border-collapse: collapse;
  border-style: solid;
  border-color: #002255;
  table-layout: fixed;
  width: 100%;
}

/*Set exact widths for the columns: 5%, 15%, 60%, 20%, respectively.*/

th:nth-child(1){width:5%;}
th:nth-child(2){width:15%;}
th:nth-child(3){width:60%;}
th:nth-child(4){width:20%;}

th {
  background-color: #002255;
  text-align: center;
  color: #c5af7d;
  font-weight: bold;
}

td {
  border-top: 1px solid #002255;
  border-bottom: 1px solid #002255;
  border-left: 3px solid #002255;
  border-right: 3px solid #002255;

  vertical-align: top;
  padding: 5px;
}

.HoldForm {
  text-align: center;
  background-color: #c5af7d;
  color: #002255;
  border: 2px solid #b39700;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;

}

#id_userSearch {
  width: 500px;
}
