## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>homepage</title>


        ## render the styles with the same name as this template and its supertemplates
        ${ django_mako_plus.link_css(self) }

    </head>
    <body>

        <%block name="content">
            Site content goes here in sub-templates.
        </%block>

        ## render the scripts with the same name as this template and its supertemplates
        ${ django_mako_plus.link_js(self) }

    </body>
</html>
